.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
/*TODO Не забыть удалить "em"*/
/*Заглавный блок*/
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  margin-bottom: 100px;
  background-color: #f2f2f2;
  z-index: 1;
  /* выше установили ограничения для секции */
}

/*Блок для лого "Яндекс практикум"*/
.logo {
  width: 183px;
  height: 32px;
}

/*Логотип "Яндекс практикум" в Шапке*/
.logo_place_header {
  background-image: url('../images/logo_place_header.svg');
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  font-size: 102px;
  line-height: 96px;
  width: 730px;
  margin: 0 0 0 64px;
  align-self: center;
  font-weight: bold;
}

.header__subtitle {
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__link:hover {
  font-size: 20px;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: -2;
}

/*Наполнение сайта*/
.content {
  display: flex;
  flex-direction: column;
}

/*Водный блок*/
.description {
  display: flex;
  margin-bottom: 100px;
  align-items: center;
  justify-content: center;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

/*Блок с таблицей в светлой теме*/
.digits {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
}

.section-title {
  align-self: center;
  text-align: center;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.section-subtitle {
  align-self: center;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  margin: 0;
}

.table {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0 0;
}

/*Блок посвященный Фэйману*/
.feynman {
  display: flex;
  flex-direction: column;
  min-height: 790px;
  position: relative;
  background-color: #f2f2f2;
  padding-top: 100px;
}

.feynman__title {
  width: 648px;
  align-self: center;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 2;
  margin: 0 0 70px 0;
}

.feynman__subtitle {
  margin: 0;
  align-self: center;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

.feynman__link:hover {
  font-size: 40px;
}

.feynman__image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
}

/*Блок посвященный Кауфману с таблицей в темной теме*/
.kaufman {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #1f1f1f;
  overflow: hidden;
  z-index: 1;
}

.kaufman__triangle {
  background-image: url("../images/kaufman-triangle.svg");
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  background-size: cover;
  z-index: -1;
}

/* и элемента с модификатором вида ключ-значение */
.section-title_theme_dark {
  margin-top: 90px;
  color: #fff;
}

.section-subtitle_theme_dark {
  color: #fff;
}

.table_theme_dark {
  padding-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
  z-index: 2;
}

.table__heading_theme_dark {
  color: #fff;
  margin-bottom: 20px;
}

.table__text_theme_dark {
  color: #fff;
  margin: 0;
}

/*Подвал*/
.footer {
  display: flex;
  flex-direction: column;
  background: #1f1f1f;
  color: #fff;
  min-height: 350px;
}

.footer__columns {
  width: 90%;
  min-height: 250px;
  align-self: center;
  display: flex;
  justify-content: space-between;
  margin: 60px 0 40px;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url("../images/logo_place_footer.svg");
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  margin: 0 0 20px 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.footer__column-link {
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
